
<div class="navbar-area" [ngClass]="{'sticky': isSticky}">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/"><img style="width: 200px; padding-top: 10px" src="assets/img/logo/logoslogan.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
<!--                    <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Demo</a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 1</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/index-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 2</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/index-3" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 3</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item megamenu"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Evénements</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="submenu-title">Lieux</h6>
                                        <ul class="megamenu-submenu">
                                            <li (click)="navigate('Kef')"><a routerLink="/search-page">Kef</a></li>
                                            <li (click)="navigate('Douz')"><a routerLink="/search-page">Douz</a></li>
                                            <li (click)="navigate('Beja')"><a routerLink="/search-page">Beja</a></li>
                                            <li (click)="navigate('Ain Drahem')"><a routerLink="/search-page">Ain Drahem</a></li>
                                            <li (click)="navigate('Bizerte')"><a routerLink="/search-page">Bizerte</a></li>
                                            <li (click)="navigate('Tozeur')"><a routerLink="/search-page">Tozeur</a></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h6 class="submenu-title">Catégories</h6>
                                        <ul class="megamenu-submenu">
                                            <li (click)="navigate2('Randonnée')" ><a routerLink="/search-page">Randonnée</a></li>
                                            <li (click)="navigate2('Camping')" ><a routerLink="/search-page">Camping</a></li>
                                            <li (click)="navigate2('Safari')" ><a routerLink="/search-page">Safari</a></li>
                                            <li (click)="navigate2('Exploration de grottes')" ><a routerLink="/search-page">Exploration de grottes</a></li>
                                            <li (click)="navigate2('VTT')" ><a routerLink="/search-page">VTT</a></li>
                                            <li (click)="navigate2('Excursion  à cheval')" ><a routerLink="/search-page">Excursion  à cheval</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item megamenu"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Agences</a>
                        <ul style="width: 350px" class="dropdown-menu">
                            <li class="nav-item">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="submenu-title">Types d'activité</h6>
                                        <ul class="megamenu-submenu">
                                            <li (click)="navigate3('Randonnée')" ><a routerLink="/search-page">Randonnée</a></li>
                                            <li (click)="navigate3('Camping')" ><a routerLink="/search-page">Camping </a></li>
                                            <li (click)="navigate3('Safari')" ><a routerLink="/search-page">Safari </a></li>
                                            <li (click)="navigate3('Excursion  à cheval')" ><a routerLink="/search-page">Excursion  à cheval</a></li>
                                            <li (click)="navigate3('Exploration de grottes')" ><a routerLink="/search-page">Exploration de grottes</a></li>
                                            <li (click)="navigate3('VTT')" ><a routerLink="/search-page">VTT</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Partenaires</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a [routerLink]="['/partenaire', 154]" (click)="navigate4(154)" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Ministère du tourisme</a></li>
                            <li class="nav-item"><a [routerLink]="['/partenaire', 153]" (click)="navigate4(153)"  class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Decathlon</a></li>
                            <li class="nav-item"><a [routerLink]="['/partenaire', 156]" (click)="navigate4(156)" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pristine</a></li>
                            <li class="nav-item"><a [routerLink]="['/partenaire', 158]" (click)="navigate4(158)" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tunisair</a></li>
                            <li class="nav-item"><a [routerLink]="['/partenaire', 155]" (click)="navigate4(155)" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">The Dreamer</a></li>
                            <li class="nav-item"><a [routerLink]="['/partenaire', 157]" (click)="navigate4(157)" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Magic Hotels</a></li>

                        </ul>
                    </li>
                    <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">A propos</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/blog-grid" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Qui sommes-nous?</a></li>
                            <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Nous contacter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" ><a routerLink="/boutique" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Boutique</a></li>
                    <li *ngIf="user_id != null" class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link" ><img class="rounded-circle" style="margin-top: -10px; width: 50px; height: 50px; margin-left: 480px" src="assets/img/agences/Alia.jpeg">
                    </a>
                        <ul class="dropdown-menu" style="width: 100px;  margin-left: 480px">
                            <li class="nav-item"><a routerLink="/" (click)="logout()" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">

                    <div class="option-item" >


                            <a *ngIf="user_id == null" routerLink="/profile-authentication" style="margin-right: 20px"><i class='bx bx-log-in'></i> Se connecter</a>
                       <a *ngIf="user_id == null" routerLink="/créer-compte"><i class='bx bx-user'></i>Créer un compte</a>


                    </div>
                    <div class="option-item">
                        <a routerLink="/cart" class="cart-btn"><i class='bx bx-shopping-bag'></i></a>
                        <div style="font-size: 10px;" class="badge bg-secondary">{{ totalItem }}</div>

                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
