<div class="page-title-area" *ngFor="let Content of pageTitle;" style="background-image: url({{Content.bgImage}});">
    <div class="container">
        <h1>{{Content.title}}</h1>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="signup-container">
        <div class="signup-form">
            <h2>Se connecter</h2>
            <form>
                <div class="form-group">
                    <label for="name">Nom d'utilisateur</label>
                    <input [(ngModel)]="login.login" type="text" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input [(ngModel)]="login.password" type="password" id="password" name="password" required>
                </div>
                <div>
                    <input style=" margin-bottom: 20px; margin-left: 250px;" id="checkbox1" type="checkbox">
                    <label for="checkbox1">Se souvenir de moi</label>
                </div>
                <div>
                    <button type="submit" (click)="log()">Se connecter</button>
                </div>
                <div class="text-start mt-2 m-l-20" style="color: #09676fff"><a
                    class="btn-link " style="margin-left: 225px" href="/auth/forget_password">Mot de passe oublié?</a></div>
<!--                <div class="login-divider"></div>-->
            </form>
        </div>
    </div></div>
