.success-container {
    text-align: center;
    margin-top: 50px;
}

.success-container h1 {
    color: #ff9770;
    font-size: 2em;
}

.success-image {
    width: 200px;
    height: auto;
    margin-top: 20px;
}
