@import "../../common/deals/deals.component.scss";
.article-content{
padding: 25px;
    border-radius: 20px;
background-color: var(--whiteColor);}

.td{
    font-size: 30px;
}

.country{padding-left: 75px;
    padding-top: 15px;
    color: #772200;
    font-weight: bold;
}
