<script src="../../../../../../../../OneDrive/Bureau/TemplateCopo/src/app/components/forms/form-controls/base-inputs/base-inputs.component.ts"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">


<div _ngcontent-ng-c2458038990=""  style="flex: 0 1 auto">
    <div _ngcontent-ng-c2458038990="" class="card">
        <div _ngcontent-ng-c2458038990="" class="card-header b-l-primary border-3">
            <h5>Liste des Agences</h5>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-pill" type="submit">Ajouter une agence</button>
        </div>
        <div _ngcontent-ng-c1574083692="" class="activity-table table-responsive recent-table">
            <tbody _ngcontent-ng-c1574083692="" style="padding-left: 120px;">
            <tr _ngcontent-ng-c1574083692="">
                <td _ngcontent-ng-c1574083692="" style="width: 120px;">
                    <div _ngcontent-ng-c1574083692="" class="recent-images">
                        <img _ngcontent-ng-c1574083692="" class="agency-logo-dimensions"  src="assets/images/logo/logo.png" alt="">
                    </div>
                </td>
                <td _ngcontent-ng-c1574083692="" style="width: 200px;">
                    <h5 _ngcontent-ng-c1574083692="" class="default-text mb-0 f-w-700 f-18">Agence 1</h5>
                </td>
                <td _ngcontent-ng-c1574083692="" style="width: 100px;">
                    <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge f-12">Paris</span>
                </td>
                <td _ngcontent-ng-c1574083692="" style="width: 150px;" class="f-w-700">John Doe</td>
                <td _ngcontent-ng-c1574083692="" style="width: 100px;">
                    <h6 _ngcontent-ng-c1574083692="" class="mb-0">15 Jan</h6>
                </td>
                <td>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-pill" type="submit">Modifier</button>
                    </div>
                </td>

                <td>
                    <i class="fa fa-trash-o"></i>
                </td>
                <p>              </p>

                <td>
                    <i class="icon-more-alt"></i>
                </td>
                <td _ngcontent-ng-c1574083692="" style="width: 80px;">
            <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge"><app-feather-icons _ngcontent-ng-c1574083692="" _nghost-ng-c1040871746="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal" _ngcontent-ng-c1040871746="">
                    <circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle>
                </svg>
            </app-feather-icons>
            </span>
                </td>
            </tr>
            <tr _ngcontent-ng-c1574083692="">
                <td _ngcontent-ng-c1574083692="" style="width: 120px;">
                    <div _ngcontent-ng-c1574083692="" class="recent-images">
                        <img _ngcontent-ng-c1574083692="" class="agency-logo-dimensions" src="assets/images/logo/logo.png" alt="" >
                    </div>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <h5 _ngcontent-ng-c1574083692="" class="font-primary mb-0 f-w-700 f-18">Agence 2</h5>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge f-12">Brazil</span>
                </td>
                <td _ngcontent-ng-c1574083692="" class="f-w-700">Jane Doe</td>
                <td _ngcontent-ng-c1574083692="">
                    <h6 _ngcontent-ng-c1574083692="" class="mb-0">06 Feb</h6>
                </td>
                <td>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-pill" type="submit">Modifier</button>
                    </div>
                </td>

                <td>
                    <i class="fa fa-trash-o"></i>
                </td>
                <p>              </p>

                <td>
                    <i class="icon-more-alt"></i>
                </td>
                <td _ngcontent-ng-c1574083692="">
                            <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge">
                                <app-feather-icons _ngcontent-ng-c1574083692="" _nghost-ng-c1040871746="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal" _ngcontent-ng-c1040871746="">
                                        <circle cx="12" cy="12" r="1">
                                        </circle>
                                        <circle cx="19" cy="12" r="1">
                                        </circle><circle cx="5" cy="12" r="1">
                                    </circle>
                                    </svg>
                                </app-feather-icons>
                            </span>
                </td>
            </tr>
            <tr _ngcontent-ng-c1574083692="">
                <td _ngcontent-ng-c1574083692="" style="width: 120px;">
                    <div _ngcontent-ng-c1574083692="" class="recent-images">
                        <img _ngcontent-ng-c1574083692="" class="agency-logo-dimensions" src="assets/images/logo/logo.png" alt="">
                    </div>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <h5 _ngcontent-ng-c1574083692="" class="font-secondary mb-0 f-w-700 f-18">Agence 3</h5>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge f-12">London</span>
                </td>
                <td _ngcontent-ng-c1574083692="" class="f-w-700">John Doe</td>
                <td _ngcontent-ng-c1574083692="">
                    <h6 _ngcontent-ng-c1574083692="" class="mb-0">22 Feb</h6>
                </td>
                <td>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-pill" type="submit">Modifier</button>
                    </div>
                </td>

                <td>
                    <i class="fa fa-trash-o"></i>
                </td>



                <td>
                    <i class="icon-more-alt"></i>
                </td>

                <td _ngcontent-ng-c1574083692="">
                            <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge">
                                <app-feather-icons _ngcontent-ng-c1574083692="" _nghost-ng-c1040871746="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal" _ngcontent-ng-c1040871746="">
                                        <circle cx="12" cy="12" r="1">
                                        </circle>
                                        <circle cx="19" cy="12" r="1"></circle>
                                        <circle cx="5" cy="12" r="1">
                                        </circle>
                                    </svg>
                                </app-feather-icons>
                            </span>
                </td>
            </tr>
            <tr _ngcontent-ng-c1574083692="">
                <td _ngcontent-ng-c1574083692="" style="width: 120px;">
                    <div _ngcontent-ng-c1574083692="" class="recent-images">
                        <img _ngcontent-ng-c1574083692="" class="agency-logo-dimensions" src="assets/images/logo/logo.png" alt="" >
                    </div>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <h5 _ngcontent-ng-c1574083692="" class="font-warning mb-0 f-w-700 f-18">Agence 4</h5>
                </td>
                <td _ngcontent-ng-c1574083692="">
                    <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge f-12">U.S.A</span>
                </td>
                <td _ngcontent-ng-c1574083692="" class="f-w-700">Jane Doe</td>
                <td _ngcontent-ng-c1574083692=""><h6 _ngcontent-ng-c1574083692="" class="mb-0">18 Mar</h6>
                </td>
                <td>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-pill" type="submit">Modifier</button>
                    </div>
                </td>

                <td>
                    <i class="fa fa-trash-o"></i>
                </td>
                <td>
                    <i class="icon-more-alt"></i>
                </td>

                <td _ngcontent-ng-c1574083692="">
                                <span _ngcontent-ng-c1574083692="" class="badge rounded-pill recent-badge">
                                    <app-feather-icons _ngcontent-ng-c1574083692="" _nghost-ng-c1040871746="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal" _ngcontent-ng-c1040871746="">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg></app-feather-icons></span></td></tr></tbody></div>


    </div>
</div>


<div _ngcontent-ng-c2458038990="" >
    <div _ngcontent-ng-c2458038990="" class="card">
        <div _ngcontent-ng-c2458038990="" class="card-header b-l-primary border-3">
            <h5 _ngcontent-ng-c2458038990="">Ajouter une agence</h5>
        </div>
        <div _ngcontent-ng-c2458038990="" class="card-body">
            <div class="row">
                <div class="form-group">
                    <label class="form-label" for="exampleInputPassword2">Nom de l'agence:</label>
                    <input class="form-control" id="exampleInputPassword2"
                           placeholder="Nom de l'agence">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="exampleInputPassword2">Nom du responsable :</label>
                        <input class="form-control" id="exampleInputPassword2"
                               placeholder="Votre nom">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label" for="exampleInputPassword2">Prénom du responsable:</label>
                        <input class="form-control" id="exampleInputPassword2"
                               placeholder="Votre prénom">
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="exampleFormControlInput1">E-mail:</label>
                            <input class="form-control" id="exmpleFormControlInput1" type="email"
                                   placeholder="agence@exemple.com">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="exampleFormControlInput1">N° Téléphone:</label>
                            <input class="form-control"
                                   placeholder="Téléphone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="exampleFormControlInput1"> Pays:</label>
                            <input class="form-control"
                                   placeholder="Pays">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Mot de passe:</label>
                            <input class="form-control" id="exampleInputPassword2" type="password"
                                   placeholder="Mot de passe">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword2">Confirmer votre mot de passe:</label>
                            <input class="form-control" id="exampleInputPassword2" type="password"
                                   placeholder="Mot de passe">
                        </div>
                    </div>
                </div>

                <fieldset>

                    <label class="form-label" for="exampleFormControlInput1"> Type d'activité:</label>
                    <div>
                        <input type="checkbox" id="Randonnée" name="Randonnée" checked />
                        <label for="Randonnée">Randonnée</label>
                    </div>

                    <div>
                        <input type="checkbox" id="Marathon" name="Marathon" />
                        <label for="Marathon">Marathon</label>
                    </div>

                    <div>
                        <input type="checkbox" id="Ski" name="Ski" />
                        <label for="Ski">Ski</label>
                    </div>

                    <div>
                        <input type="checkbox" id="Vélo de route" name="Vélo de route" />
                        <label for="Vélo de route">Vélo de route</label>
                    </div>

                    <div>
                        <input type="checkbox" id="Camping" name="Camping" />
                        <label for="Camping">Camping</label>
                    </div>

                    <div>
                        <input type="checkbox" id="Escalade" name="Escalade" />
                        <label for="Escalade">Escalade</label>
                    </div>
                </fieldset>
                <fieldset>
                    Logo: <fieldset>
                    <input type="file" name="picture" id="picture" />
                </fieldset>
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                                        <textarea class="form-control" rows="5" cols="5"
                                                  placeholder=" Description"></textarea>
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-pill" type="submit">Valider</button>
                <input class="btn btn-light ms-1 btn-pill" type="reset" value="Annuler">
            </div>

        </div>

    </div>











</div>


        </div></div>
</div>


