<div class="top-header-area">
    <div class="container-fluid {{containerClass}}">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <ul class="top-header-contact-info">
                    <li><a href="tel:+44458895456"><i class='bx bx-phone-call'></i> +216 93 317 718</a></li>

                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="top-header-right">
                    <ul class="d-flex align-items-center justify-content-end">
                        <li>
                            <div class="dropdown language-switcher d-inline-block" [class.active]="classApplied">
                            </div>
                        </li>
                        <li><a href="mailto:hello@marxa.com"><i class='bx bx-envelope'></i> Summitsells1@gmail.com</a></li>
<!--                        <li *ngIf="id!=''"><a routerLink="/profile-authentication"><i class='bx bx-log-in'></i> Se connecter</a></li>-->
<!--                        <li *ngIf="id!=''"><a routerLink="/créer-compte"><i class='bx bx-user'></i>Créer un compte</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
