.container {

  position: absolute;
  left:600px;top:410px;
  transform: translateX(-50%);}

.container2 {

  position: absolute;
  left:600px;top:450px;
  transform: translateX(-50%);}

.container3 {
  position: absolute;
  left:520px;top:490px;
  transform: translateX(-50%);
}
.container4 {
  position: absolute;
  left:680px;top:490px;
  transform: translateX(-50%);
}



.centered-button {

  border: none;
  cursor: pointer;
}